# Arquivos ignorados pelo controle de versão GIT. 
.clangd
compile_commands.json
.cache/*

### Arquivos do Cube que não queremos compartilhar.
*.launch

### Arquivos da pasta debug e da pasta release
Debug/
Release/
.settings/*
.vscode/
build

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.bin
*.elf
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# Biblioteca DSP
!libarm*.a

# Squareline / LVGL
!ui_font_*.bin
autosave/
backup/
boards/
cache/
!Firmware/BSP/firmware/src/config/default/system/cache/
!Binaries/*
